<div class="text-white d-flex flex-column justify-content-center align-items-center">
    <h2>{{user.full_name}}</h2>
    {{!-- <p>{{user.last_name}}</p> --}}
    <p>{{user.email}}</p>
    <p>{{user.cart}}</p>
    <p>{{user.role}}</p>
</div>
