
<h2 class="h2-title">Products in Cart</h2>

      <table class="table-container">
        <thead class="table-title">
          <tr>
            <td class="table-row">Product</td>
            <td class="table-row">Description</td>
            <td class="table-row">Price</td>
            <td class="table-row">Code</td>
            <td class="table-row">Stock</td>
            <td class="table-row">Quantity</td>
            <td class="table-row">Action</td>
          </tr>
        </thead>
        <tbody id="tbody">
          {{#each products}}
          <tr>
            <td class="table-row">{{this.product.title}}</td>
            <td class="table-row">{{this.product.description}}</td>
            <td class="table-row">{{this.product.price}}</td>
            <td class="table-row">{{this.product.code}}</td>
            <td class="table-row">{{this.product.stock}}</td>
            <td class="table-row">{{this.quantity}}</td>
            <td class="table-row">
              <button class="btn btn-danger" onclick="removeProductFromCart('{{this.product._id}}')"><i class="fa-sharp fa-solid fa-trash"></i></button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

      <div class="dark">
        <p class="h2-title">The total amount is ${{totalAmount}}</p>
      </div>
      
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/cart.js"></script>
