{{!-- 
     <table class="table-container">
      <thead class="table-title">
        <tr>
          <th class="table-row">Product</th>
          <th class="table-row">Price</th>
          <th class="table-row">Quantity</th>
          <th class="table-row">Action</th>
        </tr>
      </thead class="table-row">
      <tbody>
        {{#each products}}
          <tr>  
            <td class="table-row">{{this.product}}</td>
            <td class="table-row">{{this.price}}</td>
            <td class="table-row">{{this.quantity}}</td>
            <td class="table-row">
              <button class="btn btn-danger" onclick="deleteProductInCart('{{this._id}}')" id="btnDeleteProductInCart"><i class="fa-sharp fa-solid fa-trash"></i></button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table> --}}
<h2>Products From cart with id = {{cart._id}}</h2>

      <table class="table-container">
        <thead class="table-title">
          <tr>
            <td class="table-row">Product</td>
            <td class="table-row">Description</td>
            <td class="table-row">Price</td>
            <td class="table-row">Code</td>
            <td class="table-row">Stock</td>
            <td class="table-row">Quantity</td>
          </tr>
        </thead>
        <tbody>
          {{#each cart.products}}
          <tr>
            <td>{{this.product.title}}</td>
            <td>{{this.product.description}}</td>
            <td>{{this.product.price}}</td>
            <td>{{this.product.code}}</td>
            <td>{{this.product.stock}}</td>
            <td>{{this.quantity}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>

    <script src="/js/cart.js"></script>
