<h2 class="h2-title">Products</h2>
<table class="table-container" id="productsTable">
    <thead class="table-title">
      <tr>
        <th class="table-row">Title</th>
        <th class="table-row">Description</th>
        <th class="table-row">Price</th>
        <th class="table-row">Code</th>
        <th class="table-row">Category</th>
        <th class="table-row">Stock</th>
      </tr> 
    </thead>
    <tbody id="tbody">
      {{#each allProducts}}
        <tr>
          <td class="table-row">{{this.title}}</td>
          <td class="table-row">{{this.description}}</td>
          <td class="table-row">{{this.price}}</td>
          <td class="table-row">{{this.code}}</td>
          <td class="table-row">{{this.category}}</td>
          <td class="table-row">{{this.stock}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>