 <table class="table-container" id="productsTable">
    <thead class="table-title">
      <tr>
        <th class="table-row">Title</th>
        <th class="table-row">Description</th>
        <th class="table-row">Price</th>
        <th class="table-row">Code</th>
        <th class="table-row">Category</th>
        <th class="table-row">Stock</th>
        <th class="table-row">Actions</th>
      </tr> 
    </thead>
    <tbody id="tbody">
      {{#each products}}
        <tr>
          <td class="table-row">{{this.title}}</td>
          <td class="table-row">{{this.description}}</td>
          <td class="table-row">{{this.price}}</td>
          <td class="table-row">{{this.code}}</td>
          <td class="table-row">{{this.category}}</td>
          <td class="table-row">{{this.stock}}</td>
          <td class="table-row">
            <button class="btn-delete" onclick="deleteProduct('{{this._id}}')" id="btnDelete">Delete</button>
            {{!-- <button class="btn btn-primary">Update</button>
            <button class="btn btn-success">Add to cart</button> --}}
          </td class="table-row">
        </tr>
      {{/each}}
    </tbody>
  </table>